:root {
  --primary :#f8f9fa;
  --on-primary: #black;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    min-height: 100%;
    flex: 1;
    padding-bottom: 2em;
}